<div class="form-group">
	<label class="{{(campo.vars.required ? 'required' : '')}}">
		{{campo.vars.label}} 
		{% if campo.vars.help %}
			<i class="bi bi-info-circle text-info" role="button"  data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="top" data-bs-content="{{campo.vars.help}}"></i>
		{% endif %}
		
	</label>
	{{form_widget(campo)}}
</div>