<h1>Hola! Gracias por registrarse en mi web!!!</h1>

<p>

    Por favor, confirmame que efectivamente este es tu correo, haciendo click en el link que verás aquí abajo<br><br>
    <a href="{{ signedUrl|raw }}">Confirmar mi mail</a>.
    (Este link va a expirar dentro de {{ expiresAt|date('g') }} horas, no te duermas)
</p>

<p>
    Gracias nuevamente!!
</p>
