{% extends 'base.html.twig' %}

{% block title %}Landing!{% endblock %}

	{% block body %}

		<div class="container">
			<h1>Landing  <i class="fa fa-cog"></i></h1>

			{{dump(app.user)}}
		</div>

	{% endblock %}
